

    <!--<form>-->
     <md-input-container>
        <input md-input placeholder="Name" name="user.name" [(ngModel)]="user.name" type="text" required>
     </md-input-container>
     <div></div>
      <md-input-container>
          <input class="long-form-address" md-input placeholder="Address" name="user.address" [(ngModel)]="user.address" type="text">
      </md-input-container>

      <div class="form-group">
        <h2>Wishlist</h2>
        <span>Description</span><span class="right-col" >Got a link?</span>
        
        <div *ngFor="let w of user.wants; let i = index">
            <button md-fab color="primary">
                 <md-icon>remove</md-icon>
            </button>
            <md-input-container class="long-form-want right-item">
                <input  md-input [(ngModel)]="user.wants[i].item" type="text">
            </md-input-container>
          
            <md-input-container class="long-form-want" >
                <input md-input [(ngModel)]="user.wants[i].link" type="text">
            </md-input-container>
        </div>

      </div>
      <div>
       <button md-fab color="warm">
            <md-icon>add</md-icon>
       </button>
        <md-input-container class="long-form-want right-item">
            <input  md-input type="text">
        </md-input-container>

        <md-input-container class="long-form-want" >
            <input md-input type="text">
        </md-input-container>
       </div>
    <!--</form>-->




