.group-actions {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    margin-right: 20px;

    button {
        margin-top: 15px;
    }
}

.join-group {
    position: fixed;
    bottom: 90px;
    right: 20px;
}
