<app-loading [loading]="loading"></app-loading>

<app-title title="Your groups"></app-title>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
    <app-group-card fxFlex="400px" fxFlex.xs="100%" *ngFor="let group of groups" [group]="group"></app-group-card>
</div>

<div class="group-actions" (mouseover)="showAllActions()" (mouseleave)="hideActions()">
  <button md-fab color="secondary" *ngIf="viewAllActions" (click)="showJoinGroup()" mdTooltip="Join group" mdTooltipPosition="left">
    <md-icon>group_add</md-icon>
  </button>
  <button md-fab color="primary" (click)="showCreateGroup()" mdTooltip="Create group" mdTooltipPosition="left">
    <md-icon>add</md-icon>
  </button>
</div>