.small {
    height: 60px;
    width: 60px;
}

.medium {
    height: 80px;
    width: 80px;
}

.large {
    height: 120px;
    width: 120px;
}

.x-large {
    height: 200px;
    width: 200px;
}

img {
    border-radius: 50%;
    margin-right: 10px;
}