<app-loading [loading]="loading"></app-loading>

<app-title [title]="group.name" [subtitle]="group.status"></app-title>


  
  <div label="Members" class="top-margin flex-container" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="center center">
      <app-person-card  *ngFor="let member of group.members" class="flex-item" [person]="member"></app-person-card>
  </div>

<md-tab-group class="body-padding">
  <md-tab label="Rules">
    <div class="detail-margin">
      {{group.rules}}
    </div>
  </md-tab>

  <md-tab label="My Profile">
    <div class="detail-margin">
      <app-user-profile class="top-margin"></app-user-profile>
    </div>
  </md-tab>

</md-tab-group>

