.grp-details-heading {
    text-align: center;
}

.top-margin {
    margin-top: 10px
}

.detail-margin {
    margin-top: 10px;
}

.full-width {
    width: 100%;
}

.group-actions {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    margin-right: 20px;

    button {
        margin-top: 15px;
    }
}
