/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
// @import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';
// @import '~@angular/material/core/theming/prebuilt/purple-green.css';

$background-url: url('./assets/img/santa.png');
$font: Roboto, sans-serif;
$font-weight-lg: 100;
$font-size-lg: 4em;
$font-weight-md: 300;
$font-size-md: 2em;
$font-weight-sm: 400;
$font-size-sm: 1.2em;

.background {
    background: $background-url;
    opacity: .20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: contain;
    z-index: -1;
}

body {
    margin: 0px;
    font-family: $font;
}

.title-sm {
    font-weight: $font-weight-sm;
    font-size: $font-size-sm;
}

.title-md {
    font-weight: $font-weight-md;
    font-size: $font-size-md;
}

.title-lg {
    font-weight: $font-weight-lg;
    font-size: $font-size-lg;
}
